.subheading {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.box {
  display: block;
  padding: 8pt;
  margin: 8pt;
  border: 2pt solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.published { .subheading; }

.excerpts {
  .excerpt, a.excerpt {
    .box;
    width: 200pt;
    overflow: hidden;
    float: left;
    text-decoration: none;
    color: black;
    &:hover {
      border: 2pt solid #999999;
    }
    .excerpt_title {
      h2 {
        margin: 0;
      }
    }
    .excerpt_content {
      .excerpt_content_body {
        height: 200pt;
        overflow: hidden;
      }
      .tags {
      }
      h1 { font-size: 1.3em; }
      h2 { font-size: 1.3em; }
      h3 { font-size: 1.2em; }
      h4 { font-size: 1.2em; }
      h5 { font-size: 1.1em; }
    }
  }
}

.excerpts.vertical {
  .excerpt, a.excerpt {
    float: none;
    width: auto;
    .excerpt_content {
      .excerpt_content_body {
        height: auto;
      }
    }
  }
}

.infobox {
  .box;
  float: right;
}

.navigation {
  .box;
  float: right;
  .item {
    padding-left: 10pt;
  }
}

.menubar.ui-menu {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .ui-menu-item {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 8pt;
  }
  .ui-menu {
    z-index: 2;
    .ui-menu-item {
      margin: 0;
      padding: 0;
      width: 100%;
      display: list-item;
    }
  }
  .ui-menu-item a {
    padding: 0px: 4px;
  }
}

.tags {
  clear: both;
}

.pagination {
  padding: 8pt;
  clear: both;
  a {
    text-decoration: none;
  }
}

.copyright {
  clear: both;
  border: solid 1px #880000;
  color: #880000;
  margin: 20pt;
  a {
    color: #880000;
  }
}