.left {
  position: absolute;
  left: 0;
  width: 100pt;
  top: 0;
  bottom: 0;
}
.center {
  position: absolute;
  left: 100pt;
  right: 200pt;
  top: 0;
  bottom: 0;
  padding-left: 8pt;
  padding-right: 8pt;
}

.right {
  position: absolute;
  right: 0;
  width: 200pt;
  top: 0;
  bottom: 0;
}

.subheading {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.box {
  display: block;
  padding: 8pt;
  margin: 8pt;
  border: 2pt solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.published { .subheading; }

.excerpts {
  .excerpt, a.excerpt {
    .box;
    width: 200pt;
    overflow: hidden;
    float: left;
    text-decoration: none;
    color: black;
    &:hover {
      border: 2pt solid #999999;
    }
    .excerpt_title {
      h2 {
        margin: 0;
      }
    }
    .excerpt_content {
      .excerpt_content_body {
        height: 200pt;
        overflow: hidden;
      }
      .tags {
      }
      h1 { font-size: 1.3em; }
      h2 { font-size: 1.3em; }
      h3 { font-size: 1.2em; }
      h4 { font-size: 1.2em; }
      h5 { font-size: 1.1em; }
    }
  }
}

.appomatic_redhogorg_data-models-Node {
  .excerpts {
    .excerpt, a.excerpt {
      .excerpt_content {
        .excerpt_content_body {
          height: 50pt;
        }
      }
    }
  }
}

.excerpts.vertical {
  .excerpt, a.excerpt {
    float: none;
    width: auto;
    .excerpt_content {
      .excerpt_content_body {
        height: auto;
      }
    }
  }
}

.infobox {
  .box;
}

.navigation {
  .box;
  .item {
    padding-left: 10pt;
  }
}

.ui-menu {
  margin: 8pt !important;
  .ui-menu {
   margin-top: -3px;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
  }
  z-index: 2;
  .ui-menu-item {
    font-size: 8pt;
    a {
     padding: 0px: 4px;
    }
  }
}

.tags {
  clear: both;
}

.pagination {
  padding: 8pt;
  clear: both;
  a {
    text-decoration: none;
  }
}

.copyright {
  clear: both;
  border: solid 1px #880000;
  color: #880000;
  margin: 20pt;
  a {
    color: #880000;
  }
}