{% extends 'appomatic_redhogorg_data/base.html' %}

{% block body_class %}{{obj.types}}{% endblock %}

{% block meta %}
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ur-7a59dfef-4f25-8c03-42ae-73266f3a2cef", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <script type="text/javascript" src="https://blockchain.info//Resources/wallet/pay-now-button.js"></script>
  {{block.super}}
{% endblock %}

{% block boxes %}
  {% if request.user.is_staff %}
    <div class="infobox">
      <a href="{{obj.get_admin_url}}"><i class="icon-edit"></i> Edit</a>
    </div>
  {% endif %}
  <div class="infobox">
    {% block infobox %}
      <div>
        <div class="blockchain-btn" data-address="1MNL7iGWLMPVuvNLSHWHCL6Lstx3pahzsj">
            <div class="blockchain stage-begin">
              ฿ Donate
            </div>
            <div class="blockchain stage-loading" style="text-align:center">
              <img src="https://blockchain.info//Resources/loading-large.gif">
            </div>
            <div class="blockchain stage-ready" style="font-size: 8pt;">
              Please send payment to bitcoin address <b>[[address]]</b>
              <p class="qr-code"></p>
            </div>
            <div class="blockchain stage-paid">
                Payment Received <b>[[value]] BTC</b>. Thank You.
            </div>
            <div class="blockchain stage-error">
                <font color="red">[[error]]</font>
            </div>
        </div>
      </div>
      <div>
        <a class="FlattrButton" href="{{SITE_URL}}{{obj.get_absolute_url}}" data-flattr-uid="redhog" data-flattr-tags="{% for tag in obj.tags.all %}{{tag.name}}{% endfor %}" title="{{obj.title}}" lang="en" data-flattr-category="{% block flatter_category %}text{% endblock %}" data-flattr-button="compact">
         {% block flatter_description %}{% endblock %}
        </a>
      </div>
      <div>
        <span class='st_facebook_hcount' displayText='Facebook'></span>
      </div>
      <div>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
      </div>
      <hr />
    {% endblock %}
  </div>
  {% if obj.tags.all %}
    <div class="infobox tags">
      {% for tag in obj.tags.all %}
        <a href="{{tag.get_absolute_url}}"><i class="icon-tag"></i> {{tag.name}}</a>
      {% endfor %}
    </div>
  {% endif %}
  {{block.super}}
{% endblock %}

{% block content_title %}
  <h1>{{ obj.title }}</h1>
  <div class="breadcrumb">
    <a href="/">Home</a>
    {% for item in obj.breadcrumb %}
      &gt;&gt; <a href="{{item.get_absolute_url}}">{{item.name}}</a>
    {% endfor %}
  </div>
  {% if obj.published %}<div class="published">{{obj.published}}</div>{% endif %}
{% endblock %}

{% block content %}
  {% if obj.tag %}
    {{ obj.tag.render_as.list|safe }}
  {% endif %}
{% endblock %}

{% block footer %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'redhogorg'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% if obj.author or obj.license %}
    <div class="copyright">
      {% if obj.author %}
        <div class="authors">
          Copyright {{obj.published}} by {{obj.author.username}} ({{obj.author.get_full_name}}) &lt;<a href="mailto:{{obj.author.email}}">{{obj.author.email}}</a>&gt; 
         .
        </div>
      {% endif %}
      {% if obj.license %}
        <div class="license">
          This page is subject to <a href="{{obj.license.url}}">{{obj.license.name}}</a>.
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
