{% extends 'appomatic_redhogorg_data/base.html' %}

{% block boxes %}
  {% if obj.tag %}
    {{ obj.tag.render_as.navigation|safe }}
  {% endif %}
  <div class="infobox">
    {% block infobox %}
      <div>
        <a class="FlattrButton" href="{{SITE_URL}}{{obj.get_absolute_url}}" data-flattr-uid="redhog" data-flattr-tags="{% for tag in obj.tags.all %}{{tag.name}}{% endfor %}" title="{{obj.title}}" lang="en" data-flattr-category="{% block flatter_category %}text{% endblock %}" data-flattr-button="compact">
         {% block flatter_description %}{% endblock %}
        </a>
      </div>
    {% endblock %}
  </div>
  <div class="infobox">
    <h2>Tags</h2>
    {% for tag in obj.tags.all %}
      <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
    {% endfor %}
  </div>
{% endblock %}

{% block content_title %}
  <h1>{{ obj.title }}</h1>
  {% if obj.published %}<div class="published">{{obj.published}}</div>{% endif %}
{% endblock %}

{% block content %}
  {% if obj.tag %}
    {{ obj.tag.render_as.list|safe }}
  {% endif %}
{% endblock %}

{% block footer %}
  {% if obj.author or obj.license %}
    <div class="copyright">
      {% if obj.author %}
        <div class="authors">
          Copyright {{obj.published}} by {{obj.author.username}} ({{obj.author.get_full_name}}) &lt;<a href="mailto:{{obj.author.email}}">{{obj.author.email}}</a>&gt; 
         .
        </div>
      {% endif %}
      {% if obj.license %}
        <div class="license">
          This page is subject to <a href="{{obj.license.url}}">{{obj.license.name}}</a>.
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
