{% extends 'appomatic_redhogorg_data/base.html' %}

{% block boxes %}
  {% if obj.tag %}
    {{ obj.tag.render_as.navigation|safe }}
  {% endif %}
{% endblock %}

{% block content_title %}
  <h1>{{ obj.title }}</h1>
  <div class="published">{{obj.published}}</div>
{% endblock %}

{% block content %}
  {% if obj.tag %}
    {{ obj.tag.render_as.list|safe }}
  {% endif %}
  <div class="tags">
    <h2>Tags</h2>
    {% for tag in obj.tags.all %}
      <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
    {% endfor %}
  </div>
{% endblock %}
