{% extends 'appomatic_redhogorg_data/base.html' %}
{% load endless %}

{% block meta %}
  {{block.super}}
  <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/style.less">
  <script src="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/script.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <div class="intro">
    <img src="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/threegil.png" class="logo">
    <div class="words">
      <div class="left seq0"><img src="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/live.png"></div>
      <div class="center seq1"><img src="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/be.png"></div>
      <div class="right seq2"><img src="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/do.png"></div>

      <div class="left seq3"><img src="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/feel.png"></div>
      <div class="center seq4"><img src="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/think.png"></div>
      <div class="right seq5"><img src="{{STATIC_URL}}appomatic_redhogorg_data/LiveBeDo/create.png"></div>
    </div>
  </div>
  {{block.super}}
{% endblock %}

{% block content %}
  {% paginate 10 objs as paginated_objs %}
  <div class="vertical excerpts">
    {% for node in paginated_objs %}
      {{node.render_as.excerpt|safe}}
    {% endfor %}
  </div>
  <div class="pagination">{% show_pages %}</div>
{% endblock %}
