{% extends 'appomatic_redhogorg_data/models/Node/page.html' %}

{% block infobox %}
  {{ block.super }}
  {{obj.extra|safe}}
{% endblock %}

{% block flatter_description %}
  {% if obj.summary %}
    <em>{{ obj.summary|striptags }}</em>
  {% else %}
    {{ obj.content|truncatewords_html:50|striptags }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if obj.summary %}
    <em>{{ obj.summary|safe }}</em>
  {% endif %}
  {{obj.image.render_as.inline|safe}}
  {{ obj.content|safe }}
  {{ block.super }}
{% endblock %}
