{% extends 'appomatic_redhogorg_data/models/Article/page.html' %}

{% block flatter_category %}software{% endblock %}

{% block infobox %}
  {{ block.super }}
  {% if obj.repository_name %}
    <div><a href="http://localhost/viewgit/?a=summary&p={{obj.repository_name}}"><i class="icon-github-sign"></i> Local repo</a></div>
    <div><a href="http://github.com/{{obj.github_username}}/{{obj.repository_name}}"><i class="icon-github"></i> GitHub repo</a></div>


    <div><iframe src="http://ghbtns.com/github-btn.html?user={{obj.github_username}}&repo={{obj.repository_name}}&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe></div>
    <div><iframe src="http://ghbtns.com/github-btn.html?user={{obj.github_username}}&repo={{obj.repository_name}}&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></div>
  {% endif %}
{% endblock %}
